@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  font-family: "Abel";
  color:black;
}

/*navbar*/
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.navbar #link{
  color: black;
  margin-left: 2px;
  text-decoration: none;
  padding: 6px;
}

.navbar #link:hover{
  color:dimgrey;
}

.content{
  text-align: center;
}

#landing_page{
  position: relative;
}

#landing_page #text-block{
  position:absolute;
  background-color: rgba(255,255,255,0.9);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#landing_page h1{
  color: black;
  font-size: 4vw;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 5%;
}
#landing_page p{
  color: black;
  cursor: pointer;
  text-align: center;
  font-size: 1.5vw;
  padding-top: 2%;
  margin-top: 5%;
  margin-bottom: 15%;
}

#landing_page{
  width: 100%;
}

#landing_page img {
  width: 100%;
  height:auto;
}

#landing_page .btn {
  background-color: black;
  color: white;
  font-size: 1.2vw;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 0.5vw;
  text-align: center;
  text-decoration: none;
}

#landing_page .btn:hover {
  background-color:dimgrey;
}




/*footer*/
#footer{
  text-align: center;
}

#footer #link{
  border-radius: 0.5vw;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
  color:black;
}

#footer #link:hover {
  color:dimgrey;
}