@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  font-family: "Abel";
  color:black;
}

/*navbar*/
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.navbar #link{
  color: black;
  margin-left: 2px;
  text-decoration: none;
  padding: 6px;
}

.navbar #link:hover{
  color:dimgrey;
}

/*home*/
.content{
  text-align: center;
}

#landing_page{
  position: relative;
}

#landing_page #text-block{
  position:absolute;
  background-color: rgba(255,255,255,0.9);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#landing_page h1{
  color: black;
  font-size: 4vw;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 5%;
}
#landing_page p{
  color: black;
  cursor: pointer;
  text-align: center;
  font-size: 1.5vw;
  padding-top: 2%;
  margin-top: 5%;
  margin-bottom: 15%;
}

#landing_page{
  width: 100%;
}

#landing_page img {
  width: 100%;
  height:auto;
}

#landing_page .btn {
  background-color: black;
  color: white;
  font-size: 1.2vw;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 0.5vw;
  text-align: center;
  text-decoration: none;
}

#landing_page .btn:hover {
  background-color:dimgrey;
}

/*classes*/
.classes{
  padding-top: 3%;
}



/*gallery*/

.gallery{
  background-color:lightgray;
  padding-top: 3%;
}

.rowGallery{
  display: flex;
  flex-direction: row;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  height: 80%;
  border-radius: 10px;
  background-color: white;
}

.rowGallery #text{
  text-align: left;
  padding-left: 3%;
}


#image {
  height:auto;
  max-width:50%;
}

#text{
  font-size: 100%;
}

.rowGallery #link{
  color: white;
  background-color: black;
  text-decoration: none;
}

.rowGallery #link:hover{
  background-color:dimgrey;
}

/*contactus*/

.rowContactUs{
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  
}

.contactus{
  padding-top: 3%;
}

/*footer*/
#footer{
  text-align: center;
}

#footer #link{
  border-radius: 0.5vw;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
  color:black;
}

#footer #link:hover {
  color:dimgrey;
}