@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  font-family: "Abel";
  color:black;
}

/*navbar*/
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 ;
}

.navbar h1{
  font-size: 3.5vw;
}


.navbar #link{
  color: black;
  margin-left: 2px;
  text-decoration: none;
  padding: 6px;
}

.navbar #link:hover{
  color:dimgrey;
}

/*home*/
.content{
  text-align: center;
}

#landing_page{
  position: relative;
}

#landing_page #text-block{
  position:absolute;
  background-color: rgba(255,255,255,0.9);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#landing_page h1{
  color: black;
  font-size: 4vw;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 5%;
}
#landing_page p{
  color: black;
  cursor: pointer;
  text-align: center;
  font-size: 1.5vw;
  padding-top: 2%;
  margin-top: 5%;
  margin-bottom: 15%;
}

#landing_page{
  width: 100%;
}

#landing_page img {
  width: 100%;
  height:auto;
}

#landing_page .btn {
  background-color: black;
  color: white;
  font-size: 1.2vw;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 0.5vw;
  text-align: center;
  text-decoration: none;
}

#landing_page .btn:hover {
  background-color:dimgrey;
}

/*classes*/
.classes{
  padding-top: 3%;
  overflow-x: hidden;
}

.classes #filters{
  text-align: left;
  margin-bottom: 5%;
}

#class_details{
  font-size: 90%;
  text-align: left;
  margin-bottom: 10%;
  min-height: 20vw;
  min-width: 10vw;
  margin-left: auto;
  margin-right: auto;
}

.card img{
  min-height:17vw;
}

.card {
  min-height: 100%;
}


#class_details td{
  padding-left: 2%;
}

#filters h4{
  margin-top: 10%;
}


/*gallery*/

.gallery{
  background-color:dimgray;
  padding-top: 1%;
}

.gallery h1{
  color: white;
}

.rowGallery{
  display: flex;
  flex-direction: row;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  height: 80%;
  border-radius: 10px;
  background-color: white;
}

.rowGallery #text{
  text-align: left;
  padding-left: 3%;
}


#image {
  height:auto;
  max-width:50%;
}

#text{
  font-size: 100%;
}

.rowGallery #link{
  color: white;
  background-color: black;
  text-decoration: none;
}

.rowGallery #link:hover{
  background-color:dimgrey;
}

#language{
  color: white;
  background-color: black;
  width: 50px;
  margin-right: 5%;
  margin-top: 1%;
  font-size: 90%;
}

#langRow{
  margin-left: 85%;
  display: flex;
  flex-direction: row;
  margin-left: 85%;
  margin-top: 1%;
}

#language:hover{
  background-color:#202121;
}

/*gallery popup*/

#gallery h3{
  margin-top: 3%;
  margin-bottom: 3%;
}

/*contactus*/


#contact{
  padding-top: 3%;
  padding-bottom: 3%;

}

#contact_table{
  margin-left: auto;
  margin-right: auto;

  border-collapse: separate;
  border-spacing: 10px 0;
}

#contact_table th{
  text-align: right;
}

#email_phone{
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 10px 0;
}


#address{
  margin-left: auto;
  margin-right: auto;
}

.contactus{
  padding-top: 3%;
}

#address td{
  text-align: center;
}


/*register*/

#details_table{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  border-collapse: separate;
  border-spacing: 10px 0;
}

#date_time{
  min-width: 35%;
}

#date_time_card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-container {
  width: 275px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#cell {
  min-height: 60px;
}

#block {
  min-height: 60px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
}

.register h2{
  margin-top:5%;
  margin-bottom:2%;
}


/*confirmation*/ 

.confirmation h1{
  font-size: 3.5vw;
}

.confirmation h2{
  font-size: 2.5vw;
}

#booking_table{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-collapse: separate;
  border-spacing: 15px;
  font-size: 1.5vw;
}

th{
  text-align: right;
  margin-right: 5%;
}

td{
  text-align: left;
}

#conf_btn{
  margin-bottom: 5%;
}

/*footer*/
#footer{
  text-align: center;
}

#footer #link{
  border-radius: 0.5vw;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
  color:black;
}

#footer #link:hover {
  color:dimgrey;
}


/*not found page*/

#notFoundPage{
  padding-bottom: 10%;
}

#notFoundPage h1{
  color: black;
  font-size: 4vw;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#notFoundPage p{
  margin-bottom: 3%;
}